/* Modo Claro */
body {
  background-color: #F5F7FA;
  color: #2E3A59;
  font-size: 18px;
}
#logo-container img {
  max-width: 65% !important;
  height: auto !important;
}
.profile-pic {
  z-index: 1; /* Ensures the image is above the menu */
  position: relative;
}
a {
  color: #3A86FF;
}
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .nav-wrapper, 
body.dark-mode .card,
body.dark-mode .table-of-contents {
  background-color: #333;
}
nav {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #6C757D;
}

blockquote {
  border-left: 5px solid #6C757D;
  color: #6C757D;
}

.readme {
  background: #F5F7FA;
  color: #2E3A59;
  border: 2px solid #6C757D;
}

.contactme {
  border: 2px solid #3A86FF;
  color: #3A86FF;
}

.contactme:hover {
  background-color: #3A86FF;
  color: #FFFFFF;
}

/* Modo Oscuro */
.dark-mode {
  background-color: #121212;
  color: #E0E0E0;
}

.dark-mode a {
  color: #77AADD;
}

.dark-mode nav {
  background: #1E1E1E;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}

.dark-mode h3 {
  color: #BB86FC;
}

.dark-mode blockquote {
  border-left: 5px solid #BB86FC;
  color: #BB86FC;
}

.dark-mode .readme {
  background: #1E1E1E;
  color: #E0E0E0;
  border: 2px solid #BB86FC;
}

.dark-mode .contactme {
  border: 2px solid #BB86FC;
  color: #BB86FC;
}

.dark-mode .contactme:hover {
  background-color: #BB86FC;
  color: #121212;
}
